<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hi <%= @guestlist.user.name %></h1>
<p>
  Your entry at <%=@guestlist.club.title%> has been made for <%=@guestlist.entry_date%> for <%=@guestlist.couples%> couple(s).
  <br/>
  We will send you another mail to confirm your entry.
  <br/>
  <br/>
  Thank You<br/>
  Team Mumbai Guestlist
</p>
</body>
</html>