<h1 align="center"><%=@club.title %></h1>
<div align="center">
  <p>
    Total entries count: <%=@club.guestlists.count %>
    <%= render 'admin/guestlists/guestlist', js:admin_club_url(@club, :format => :json)%>

  </p>
