<head xmlns="http://www.w3.org/1999/html">
  <meta name="viewport" content="height=device-height, width=device-width, user-scalable=0, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" >
</head>
<body>
<div class="top">
  <div class="logo-mob"><%= image_tag("logo.png") %></div>
  <div class="facebook-bt">
   <a href="api/auth/facebook" > <%= image_tag("facebook.png") %></a></div>
</div>


</body>