<div style="background-color: black; height:100%; width: 100%">
  <% if mobile?%>
      <%= render 'guestlistmob',guestlist:@guestlist %>
  <%else%>
      <%= render 'guestlist',guestlist:@guestlist %>
  <%end%>
</div>