$navbar-default-bg: #000;

@import "bootstrap-sprockets";
@import "bootstrap";
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,300,700,400,600");
* { margin:0; padding:0; box-sizing:border-box;}
body {font-family: 'Open Sans';}
div#header {width:100%; height:50px; background-color:#2c3e50; margin:0 auto;}
div#container {width:100%; margin:0 auto;}
ul#nav li a { color:#ccc; display:block; padding:12px; font-size:0.9em; border-bottom: 1px solid #0A0A0A; 	-webkit-transition: 0.2s; -moz-transition: 0.2s;  -o-transition: 0.2s;  transition: 0.2s; }
ul#nav li a:hover {background-color:#030303; color:#fff; padding-left:30px;}
ul#nav li a:selected {background-color:#030303; color:#fff;}
a {text-decoration:none;  color: #000000;;}
.logo {float:left; margin-top:4px;}
.logo a {font-size:1.6em; color:#fff;}
.logout { float: right; margin-top: 4px;}
.logout a {font-size:1.2em; color:#fff;}
.sidebar{ width:250px; height:100%; background-color:#171717; float:left; }
.content{ width:100%; margin-left:0%; height:100%; background-color:#fff; padding-left:0px; align-content: center;}
.content .table table {width:100%; border-collapse:collapse;}
.content .table table a {color:#00F;}
.content .table table thead th { font-weight:bold; font-size:15px; border-bottom: 1px solid #ddd; padding-bottom:10px;}
.content .table tbody { border: 1px solid #ddd;}
.content .table tbody tr{background:#fff; text-align:center;}
.content .table tbody tr.alt-row{background:#f3f3f3}
.content .table table th {padding:0px; line-height:1.3em;}
.content .table table td .details { width:60%; margin:0 auto;}
.content .table table td .details ul li{ text-align:left; margin-top:5px;align-content: center;}
.content .form  {margin: 0 auto; width:50%; padding-top:10%}
.content .form .label {margin: 0 auto;text-align: right}
.content .form .submit { margin-top: 20px;  position:relative;  top:50%;  left:25%;  }
.content .form form {margin: 0 auto;  width:50%;}
.content .form input{ margin: 0 auto; width: 50%; padding:6px; font-size:13px; }
.footer	{  position:fixed;  left:0px;  bottom:0px;  width: 100%;  margin-left:20px;  margin-right:40px;  padding-top:10px;  padding-bottom:10px;  border-top: 1px solid #EAEAEA;  color: #ffffff;  }
.footer a {color: #fffff}
.footer a hover	{  color: #fff;  }
.footer small	{  float:left; color: #ffffff }
.footer ul {  float:right;  list-style:none;  }
.footer ul li{  float:left;  margin-left:15px;  font-size:0.8em;  }
.header-error {  position: relative;  width: 100%; height: 50px; }
.container-home {margin: 0; position: absolute; top: 0px;  left: 0; background-size:cover; background-image: asset_url('image1.jpg'); width: 100%; height: 100%; background-color: black; overflow: hidden  }
.mid-form{position:relative; margin:20% auto 0 auto; width:100%; min-width:100%; height:500px; text-align:center;}
.book-form{ position:relative; float:left; clear:both; height:50px; margin-top:10px; width:100%}
.book-form input,select,input[type=submit]{ border:5px solid #575a59; height:50px; width:180px; font-size:16px; text-align:center; outline:none; margin-right:-10px; &:focus { border-color: darken(#575a59, 10%); } }
