<div class="container">
	<footer class="footer">
		<small style="background-color:black ">
			Copyright &copy <a href="#">Less Unless Entertainment</a> All rights reserved.
		</small>
    <nav>
			<ul>
				<% # number = '+919833386339' %>
				<% number = '+919769052090' %>
				<li>Call us on: <%=number%></li><br/>
				<li>Or write to us at: info@mumbaiguestlist.com</li>
      </ul>
		</nav>
	</footer>
</div>