<div class="container">
	<footer class="footer">
		<small style="background-color:black ">
			Copyright &copy <a href="#">Less Unless Entertainment</a> All rights reserved.
		</small>
    <nav>
			<ul>
				<li>Call us on: +919833386339</li><br/>
				<li>Or write to us at: info@mumbaiguestlist.com</li>
      </ul>
		</nav>
	</footer>
</div>